body {	 
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.5;
  max-width: 100%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #64A8E7;
}

.searched {background: yellow;}

#divTree1 .jstree-closed { 
	background-image:url("folder-closed"); 
}
#divTree1 .jstree-open { 
	background-image:url("folder-open"); 
}
#divTree1 .jstree-leaf { 
	background-image:url("file"); 
}

.activeline {
	background: #f0fcff !important;
}
.currentline {
	background: #D9DCE0 !important;
}
.errorline {
	background: #FF0000 !important;
}
.completions {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}
      .completions select {
        background: #fafafa;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        font-family: monospace;
}

.main{
  background-color: #F0EDDF;
  width: 98%;
  height: 740px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
} 

.explore {
	float: left;
	width: 21%;
	margin-right: 5px;
	padding: 5px;
	padding-bottom: 15px;
	border-style: insert;
	border: 2px groove gray;
	background-color: white;
	height: 91%;
	overflow:auto;
}

.func {
	float: left;
	padding-right: 10px;
	margin-bottom: 10px;
	width: 99%;
	height: 4%;
	border: 0px solid gray;
	display: inline;
	
}

.console {
	float: right;
	width: 76%;
	padding-top: 2px;
    padding-left: 3px;
	padding-right: 3px;
	height: 18%;
	border: 2px groove gray;
	background-color: white;
	overflow:auto;
}

.console_header {
	float: right;
	width: 76%;
	padding-left: 8px;
	padding-top: 3px;
	margin-top: 3px;
	font-family: sans-serif;
	border: 1px solid gray;
	background-color: #F0EDDF;	
	font-size: 15px;
	height: 3%;
}

.explore_header {
	margin-left: -6px;
	margin-right: -5px;
	margin-top: -6px;
	padding-left: 3px;
	padding-right: 3px;
	font-family: sans-serif;
	border: 1px solid gray;
	background-color: #F0EDDF;
	font-size: 15px;
}

.header {
	padding-bottom: 0px;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	display: inline;
}

.header_chg {
	display: inline;
	padding-bottom: 0px;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}

.bt_debug {
	width: 50px;
	height: 3px;
	border: 1px solid gray;
}

#footer_row {
	bottom: 6px;
	right: 230px;
	float: right;
}

#footer_cln {
	bottom: 6px;
	right: 150px;
	float: right;
}

#footer_trow {
	left: -100px;
	float: right;
}

#ins_sta {
	float: right;
	left: 50px;
}

#status{
	float:left;
	left: 20px;
}

.footer {
	position: relative;
	font-family: sans-serif;
	font-size: 15px;
	bottom: 0px;
}


h1 {
  letter-spacing: -3px;
  font-size: 3.23em;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.23em;
  font-weight: bold;
  margin: .5em 0;
  letter-spacing: -1px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: .4em 0;
}

pre {
  background-color: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
}

pre.code {
  margin: 0 1em;
}

.grey {
  font-size: 2.2em;
  padding: .5em 1em;
  line-height: 1.2em;
  margin-top: .5em;
  position: relative;
}

img.logo {
  position: absolute;
  right: -25px;
  bottom: 4px;
}

a:link, a:visited, .quasilink {
  color: #df0019;
  cursor: pointer;
  text-decoration: none;
}

a:hover, .quasilink:hover {
  color: #800004;
}

h1 a:link, h1 a:visited, h1 a:hover {
  color: black;
}

ul {
  margin: 0;
  padding-left: 1.2em;
}

a.download {
  color: white;
  background-color: #df0019;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.23em;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: .5em 0;
  margin-bottom: 1em;
}

a.download:hover {
  background-color: #bb0010;
}

.rel {
  margin-bottom: 0;
}

.rel-note {
  color: #777;
  font-size: .9em;
  margin-top: .1em;
}

.logo-braces {
  color: #df0019;
  position: relative;
  top: -4px;
}

.blk {
  float: left;
}

.left {
  width: 37em;
  padding-right: 6.53em;
  padding-bottom: 1em;
}

.left1 {
  width: 15.24em;
  padding-right: 6.45em;
}

.left2 {
  width: 15.24em;
}

.right {
  width: 20.68em;
}

.leftbig {
  width: 42.44em;
  padding-right: 6.53em;
}

.rightsmall {
  width: 15.24em;
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clear { display: inline-block; }
/* start commented backslash hack \*/
* html .clear { height: 1%; }
.clear { display: block; }
/* close commented backslash hack */
